.add-comment {
    margin: 0 10px 0 70px;
}

.add-comment-input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    height: auto;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    border-color: rgb(224, 222, 222);
    background-color: rgb(236, 236, 236);
}

.add-comment-div {
    text-align: right;
}

.add-comment-button {
    background-color: #1d9bf0;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
}

.add-comment-button:hover {
    background-color: #1a8fdc;
    cursor: pointer;
}